nav {
    background-color: #333;
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: left;
  }
  
  nav li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  nav li button:hover {
    background-color: #ddd;
    color: black;
  }
  