<!-- <table border="1">
  <thead>
    <tr>
      <th>User ID</th>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of data">
      <td>{{ post.userId | date }}</td>
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
  </tbody>
</table> -->

<!-- <app-navbar></app-navbar> -->
<!-- <app-navbar (addCard)="addCard()" (deleteCard)="deleteCard()"></app-navbar>

<div *ngFor="let card of cards">
  <app-card [cardNumber]="card"></app-card>
</div> -->

<app-navbar></app-navbar>
<app-card></app-card>


